/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    
    background: linear-gradient(to right, #fff, #d3d9df);
}
    
th{
    background: #4b5354;
    color: #e9edef;
}
td{
    background: #9ecfe7;
    width: fit-content;
}
table{
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
tr{
    width: fit-content;
}
th, td{
    padding:10px 10px;
}
tr:nth-of-type(even) {
    background-color: #4b5354   ;
}
