<div class="container">
    <div class="form-group">
        <label>Full name</label>
        <input class="form-control" type="text" name="name">
    </div><br>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" name="Email">
    </div><br>
    <div class="form-group">
        <label>Source</label>
        <input class="form-control" type="text" name="Source">
    </div><br>
    <div class="form-group">
        <label>Destination</label>
        <input class="form-control" type="text" name="Destination">
    </div><br>
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" type="text" name="Date">
    </div><br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Book ticket</button>
    </div>
</div>