<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/styles.css" rel="styleSheet" type="text/css" />
</head>
<body>
    <%- include('partials/header'); -%>
    <div class="header">
        <header>Railway booking services</header>
    </div> 
    <nav>
        <div class="nav1">
            <a href="#"><strong>Nav1</strong></a>
            <a href="#"><strong>Nav2</strong></a>
            <a href="/pnrStatus"><strong>PNR</strong></a>
            <a href="#" class="Login"><strong>Passenger</strong></a>
            <a href="#" class="Login"><strong>Admin</strong></a>
        </div>
    </nav>
    <main>
        <p>
            -----------------------------------------------------<br>
            MAIN CONTENT 1<BR>
            -----------------------------------------------------<br>
        </p>
        <p>
            -----------------------------------------------------<br>
            MAIN CONTENT 2 <br>
            -----------------------------------------------------<br>
        </p>
    </main>
    <%- include('partials/footer'); -%>
</body>
</html>