<mat-toolbar class="navbar fixed-top justify-content-between">
    <h2><a class="navbar-brand" href="#">
        <!-- <img src="../../assets/irctc_logo.jpeg" width="auto" height="30" class="d-inline-block align-top" alt="bluebox-logo"> -->
        <font><strong>Railway Reservation System </strong></font> | e-Ticketing System.
    </a></h2>

    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Sign In</a>
</mat-toolbar>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">User Registration Complete<i class="material-icons" style="height: 300px;">check_circle_outline</i></h1>
        <br>
    </div>
</div>
<div class="flex-parent">
    <h2> Thank you for Signing Up!</h2>
    <br><br>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/" routerLinkActive="active" role="button">Get Started</a>
    </p>
</div>
