<mat-toolbar class="navbar fixed-top justify-content-between">
    <h2 class="mb-3"><a routerLink="/homePage">
        <img src="../../assets/irctc_logo.jpeg" class="d-inline-block align-top" alt="bluebox-logo">Railway Reservation<sub>{{admin}}</sub></a></h2>
    <span>
        <button mat-button [matMenuTriggerFor]="menu" class="nav-item dropdown">
                Hello {{admin}}
                <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" >
            <button mat-menu-item class="dropdown-item"><i class="material-icons">settings</i> View Profile</button>
            <button mat-menu-item class="dropdown-item" (click)='logout()'><i class="material-icons">power_settings_new</i>  Sign Out</button>
        </mat-menu>
    </span>
</mat-toolbar>

<marquee> <p >Namaste <strong>IRCTC ADMIN!</strong> Welcome back to Admin dashboard. | Due to <strong>COVID</strong> restrictions, certain locations have higher priority for priority services i.e to be accessed via <strong>Vaccine Highway</strong> | Kindly update <strong>Government Guidlines</strong> to be followed by passengers during travel.</p></marquee>