.nav-item{
    margin-left: 0px;
    background: #e9edef;
    color: #275ea3;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    font-size: 1.4rem;
}
.navbar{    
    background-color: #000010;
}
h2 a{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    text-align: center;
    color: #9ecfe7;
    text-decoration: none;
} 
img{
    height: 45px;
}
h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    text-align: center;
    color: #275ea3;
}
mat-menu-item:hover{
    background-color: #9ecfe7;
}