<mat-grid-list cols="2">  
    <mat-grid-tile id="tile1">
        <div class="flex-container">

            <div class="flex-item">
                <h1 class="display-3"> Sign In </h1>
                <br>

                <form id="needs-validation">
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input matInput type="email" id="username" name="username" [(ngModel)]="username" class="form-control" aria-describedby="emailHelp" placeholder="someone@something.com" required="required" />

                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div class="invalid-feedback">Please provide a valid email.</div>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input matInput type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required="required" />
                        <div class="invalid-feedback">Please provide a valid password.</div>
                    </div>
                    <p class="errorDetect">{{errorDetl}}</p>
                    <br>
                    <button type="button" id="signin" class="btn btn-primary" (click)='validateSignIn()'>Sign In</button>            
                    <button type="button" id="signup" class="btn btn-primary"><a routerLink="/signup">Sign Up</a></button>

                </form>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile id="tile2">
        <h3>WELCOME TO IRCTC LOGIN PAGE</h3>
    </mat-grid-tile>
</mat-grid-list>