<mat-toolbar class="navbar">
  <header class="MainHeader"><a routerLink="">Railway IRCTC</a></header>
  <!-- <span>
    <!-- <button mat-raised-button class="mat-button" type="button">
      <a routerLink = "">Login</a>
    </button>
    <button mat-raised-button class="mat-button">
      <a routerLink = "">Logout</a>
    </button> 
    <span *ngIf="logged">
      <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="d-inline-block align-top img-circle"> Hello {{user}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="right: 0; left: auto;">
              <a class="dropdown-item" routerLink="/user/profile" routerLinkActive="active"><i class="material-icons">settings</i> View Profile</a>
              <button><a class="dropdown-item" (click)='logout()'><i class="material-icons">power_settings_new</i>  Sign Out</a></button>
          </div>
      </div>
  </span>
  </span> -->
</mat-toolbar>
<hr>

<router-outlet></router-outlet>