body{
    background:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    padding: 30px;
}
.header{
    font-size: 40px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background: blue;
    width: 100%;
    color: #fff;
}
.headerEjs{
    text-decoration:none ;
}

.nav1 {
     background: greenyellow;
}
.nav1 a{
    margin: 5rem;
}
footer{
    font-size: 40px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background: blue;
    color: #fff;
}