<div class="container">
    <h2 class="page-header">Train TimeTable</h2>
    <table border="2px" cellspacing="5px">
        <tr>
            <th class = "col-md-3">Train Name</th>
            <th class = "col-md-3">Train Number</th>
            <th class = "col-md-3">Start Station</th>
            <th class = "col-md-3">Destination</th>
            <th class = "col-md-3">Arrival</th>
            <th class = "col-md-3">Departure</th>
            <th class = "col-md-3">Date</th>
        </tr>
        <tr *ngFor="let train of trainArray">
            <td class = "col-md-3">{{train.trainName}}</td>
            <td class = "col-md-3">{{train.trainNumber}}</td>
            <td class = "col-md-3">{{train.startStation}}</td>
            <td class = "col-md-3">{{train.destination}}</td>
            <td class = "col-md-3">{{train.arrivalTime}}</td>
            <td class = "col-md-3">{{train.departureTime}}</td>
            <td class = "col-md-3">{{train.date}}</td>
        </tr>
    </table>
</div>
<hr>
