<div class="container">
    <h2 class="page-header">Train TimeTable</h2>
    <table border="2px" cellspacing="5px">
        <tr>
            <th class = "col-md-3">Train Name</th>
            <th class = "col-md-3">Train Number</th>
            <th class = "col-md-3">Start Station</th>
            <th class = "col-md-3">Destination</th>
            <th class = "col-md-3">Arrival Time</th>
            <th class = "col-md-3">Departure Time</th>
            <th class = "col-md-3">Date</th>
        </tr>
        <tr>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">a</td>
            <td class = "col-md-3">
                <input type="button" value="Delete" class="btn btn-danger">
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="container">
    <h2 class="page-header">Admin - Train Form</h2>
    <div class="form-group">
        <label class="label">Train Name</label>
        <input type="text" name=">TrainName" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Train Number</label>
        <input type="text" name="TrainNumber" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Start Station</label>
        <input type="text" name="StartStation" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Destination</label>
        <input type="text" name="Destination" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Arrival Time</label>
        <input type="text" name="ArrivalTime" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Departure Time</label>
        <input type="text" name="DepartureTime" class="form-control">
    </div><br>
    <div class="form-group">
        <label class="label">Date</label>
        <input type="text" name="Date" class="form-control">
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
