<div class="container">
    <h2 class="page-header">Train TimeTable</h2>
    <table border="2px" cellspacing="5px">
        <tr>
            <th class = "col-md-3">Train ID</th>
            <th class = "col-md-3">Train Name</th>
            <th class = "col-md-3">Train Number</th>
            <th class = "col-md-3">Start Station</th>
            <th class = "col-md-3">Destination</th>
            <th class = "col-md-3">Arrival Time</th>
            <th class = "col-md-3">Departure Time</th>
            <th class = "col-md-3">Date</th>
        </tr>
        <tr *ngFor="let train of trainArray">
            <td class = "col-md-3">{{train.trainName}}</td>
            <td class = "col-md-3">{{train.trainNumber}}</td>
            <td class = "col-md-3">{{train.startStation}}</td>
            <td class = "col-md-3">{{train.destination}}</td>
            <td class = "col-md-3">{{train.arrivalTime}}</td>
            <td class = "col-md-3">{{train.departureTime}}</td>
            <td class = "col-md-3">{{train.date}}</td>
            <td class = "col-md-3">
                <input type="button" (click)="deleteTrain(train)" value="Delete" class="btn btn-danger">
            </td>
        </tr>
    </table>
</div>
<hr>
<div class="container">
    <h2 class="page-header">Admin - Train Form</h2>
    <div class="form-group">
        <label class="label">Train Name</label>
        <input type="text" [(ngModel)]="newTrain.trainName" name="trainName" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Train Number</label>
        <input type="text" [(ngModel)]="newTrain.trainNumber" name="trainNumber" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Start Station</label>
        <input type="text" [(ngModel)]="newTrain.startStation" name="startStation" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Destination</label>
        <input type="text" [(ngModel)]="newTrain.destination" name="destination" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Arrival Time</label>
        <input type="text" [(ngModel)]="newTrain.arrivalTime" name="arrivalTime" class="form-control">
    </div><br>

    <div class="form-group">
        <label class="label">Departure Time</label>
        <input type="text" [(ngModel)]="newTrain.departureTime" name="departureTime" class="form-control">
    </div><br>
    <div class="form-group">
        <label class="label">Date</label>
        <input type="text" [(ngModel)]="newTrain.date" name="date" class="form-control">
    </div><br>
    <button type="submit" (click)="addTrain()" class="btn btn-primary">Submit</button>
</div>
