button:hover {
    background-color: red;
    border-color: red;
    transition: linear;
    border-radius: 10%;
    width: 25%;
}
h2 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    text-align: center;
    color: #1565C0;
}
.mat-tab-label{
    background:aqua;
    color: blue;
    width: 60px;
    height: 50px;
    font-size: 40px;
  }

#submit:hover{
    background-color: #F50057;
    border-color: #F50057;
    transition: linear;
    border-radius: 10%;
    width: 25%;
}
h3 {
    color: #275ea3;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
}
ul li {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #3b3f3f;
}
#station{
    width: 80%;
}

.page-header2{
    text-align: left;
    margin-left: 23.5%;
}