<main>
    <p>
        -----------------------------------------------------<br>
        MAIN CONTENT 1<BR>
        -----------------------------------------------------<br>
    </p>
    <p>
        -----------------------------------------------------<br>
        MAIN CONTENT 2 <br>
        -----------------------------------------------------<br>
    </p>
</main>
<mat-tab-group>
    <mat-tab label="Train Schedule"> 
        <h3>Check train</h3>
        <button><a routerLink="/trainData">Train Data</a></button>
    </mat-tab>
    <mat-tab label="PNR"><h3>Check PNR </h3></mat-tab>
    <mat-tab label="Booking">
      Booking here
      <app-booking-forms></app-booking-forms>
    </mat-tab>
  </mat-tab-group>
