<main>
    <p>
        -----------------------------------------------------<br>
        MAIN CONTENT 1<BR>
        -----------------------------------------------------<br>
    </p>
    <p>
        -----------------------------------------------------<br>
        MAIN CONTENT 2 <br>
        -----------------------------------------------------<br>
    </p>
</main>
<mat-tab-group>
    <mat-tab label="Train Schedule"> <br>
        <!--button><a routerLink="/trainData">Train Data</a></button>-->
        <app-train></app-train>
    </mat-tab>
    <mat-tab label="PNR"><h3>Check PNR </h3></mat-tab>
    <mat-tab label="Booking">
      <app-booking-forms></app-booking-forms>
    </mat-tab>
  </mat-tab-group>
