a{
    text-decoration: none;
    color: #000;
}
.nav-item{
    margin-left: 0px;
    background: #e9edef;
}
.navbar{    
    background-color: #000010;
}
.dropdown-menu{
    background: #e9edef;
}
h2 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
    text-align: center;
    color: #275ea3;
}

h3 {
    color: #275ea3;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
}
p{
    color: #275ea3;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}
ul li {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #9ecfe7;
}

button:hover {
    background-color: #F50057;
    border-color: #F50057;
    transition: linear 1s;
}

button {
    transition: linear 1s;
}

span{
    align-items: flex-start;
}
.btn-danger:hover{
    background-color: red;
    border-color: red;
    transition: linear 1s; 
}
main{
    background: linear-gradient(to right, #fff, #d3d9df);
}
material-icons{
    font-weight: 700; 
    font-size: 2.8rem; 
    line-height: 1em;
}
.PNR{
    background-color: #d3d9df;
}
#pnr{
    background: linear-gradient(to right, #fff, #d3d9df);
}
input{
    width: 15%;
}
select{
    width: 25%;
}
th{
    background: #4b5354;
}
td{
    background: #9ecfe7;
}
mat-tab:active{
    background: #4b5354;
}
.mb-3{
    padding-top: 10px;
}
h4{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
mat-tab label{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 2.0rem;
}
#panel2{
    margin-left: 100px;
    background-image: url("../../assets/RAILPIC.jpg");
    height:550px;
    width: 100%;
}
#panel2 h3{
    color: #d3d9df;
}
#img1{
    height: 100px;
    width: 200px;
}
h3{
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
#tile1{
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #101115, #4b5354);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #101115, #4b5354);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #101115, #4b5354);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #101115, #4b5354);
}